<h3>Lodging</h3>

<p>
  There are many hotels and bed and breakfasts in Fairbanks. Here are a few to get you started (more to be posted soon).
</p>

<ul>
  <li><a href="http://www.pikeslodge.com/">Pike&rsquo;s Lodge</a> (some of Amiel&rsquo;s family is staying here)</li>
  <li><a href="http://guide.alaskatravel.com/listings/quilted-with-a-view-bed-breakfast.html">Quilted with View</a> (near the reception site)</li>
  <li><a href="http://www.riversedge.net/">River&rsquo;s Edge</a></li>
</ul>

<p>&nbsp;</p>

<p>Furthermore, there will be plenty of camping space at Hallie's parents place.</p>

<p>Also, please note that there will be daylight almost all night.</p>


<h3>Travel</h3>

<dl>
  <dt>Airplane</dt>
  <dd>
    <p>
      This will be the quickest way. As of this writing (early February), you can fly from Seattle to Fairbanks round trip for $700.
    </p>

    <p>
      The cheapest way to fly to Fairbanks would be to sign up for an Alaska Airlines credit card. They charge an annual fee of $75, but you get 25,000 miles on sign up, which is enough for a round trip flight to Alaska. You also get a companion ticket, which allows you to buy a second ticket for $99.
    </p>

    <p>
      Another option would be to find someone else that is coming who already has a companion ticket.
    </p>
  </dd>

  <dt>Drive</dt>
  <dd>
    <p>
      From Seattle to Fairbanks is about 2,200 miles of beautiful scenery. It could take 2 days if you drive day and night, but more realistically, it&rsquo;s a 4-day drive.
    </p>

    <p>Let us know if you plan to drive and are interested in sharing a seat.</p>

    <p>Craigslist often has people looking for a companion for the long drive. Check Craigslist for <a href="http://fairbanks.craigslist.org/rid/">Fairbanks</a>, <a href="http://anchorage.craigslist.org/rid/">Anchorage</a>, or <a href="http://seattle.craigslist.org/rid/">Seattle</a>.
  </dd>

  <dt>Ferry</dt>
  <dd>
    <p>
      The <a href="http://www.dot.state.ak.us/amhs/index.shtml">Alaska Marine Highway</a> has a 6-day ferry to Anchorage (almost), from which you could take a train to Fairbanks.
    </p>

    <p>There is also a 4-day ferry to Haines, AK, which is a 640 mile (12 hour) drive from Fairbanks.</p>
  </dd>
</dl>