<dl>
  <dt>When</dt>
  <dd>July 23rd, 2011</dd>

  <dt>Where</dt>
  <dd><a href="http://goo.gl/maps/AGv7" rel="external">Fairbanks, Alaska</a></dd>


  <dt>Hey, that&rsquo;s a long ways away!</dt>
  <dd>You should come anyway because it&rsquo;ll be a really fun gathering with lots of really cool people and Alaska is awesome. However, we are planning to have another celebration in the Seattle area for those who can&rsquo;t make it all the way to Alaska and for those who want to party twice as much.</dd>

</dl>
