<dl>
  <dt>When</dt>
  <dd>July 23rd, 2011</dd>

  <dt>Where</dt>
  <dd><a href="http://goo.gl/maps/AGv7" rel="external">Fairbanks, Alaska</a></dd>

  <dt>The Ceremony</dt>
  <dd>
    <p>We will assemble on Murphy Dome at 2:30 to witness and support our union (Murphy Dome is one of the highest peaks in the Fairbanks area).</p>

    <p>
      The ceremony will be outside, so be prepared for wind or rain.
      Also, wear comfortably supportable shoes as there is a bit of a walk; high heels are not recommended.
      That said, you are probably still wondering, &ldquo;what should I wear?&rdquo; Well, all I can say is <em>express yourself</em>.
    </p>

    <p>At some point we will have a &ldquo;tossup&rdquo; (where everyone throws something into the air). Bring something to throw (hats, juggling props, small children, rubber ducks, etc).</p>
  </dd>

  <dt>Celebrating...</dt>
  <dd>
    <!-- <p>
      We&rsquo;d like the weekend to be a community gathering. Plan to be here Friday night to join in the fun as you share your non-material gifts with us in the form of a song, dance, poem, skit, etc.
    </p> -->

    <p>There will be a reception at the <a href="http://goo.gl/maps/G2iF" rel="external">Mushers Hall</a> after the ceremony.</p>
    <p>At the reception there will be appetizers, dinner, and a contra-dance. Bring <strong>dancing shoes</strong> and <strong>instruments</strong>.</p>
  </dd>

  <dt>Gifts &amp; Sharing</dt>
  <dd>Due to the fact that we live on a boat and therefore cannot acquire any more material possessions (or we will not have space for sleeping), this sharing from you will be a more appreciated and cherished gift... However, if you just can’t help yourself, contributions to our honey moon travel fund will be graciously accepted as well.</dd>

  <dt>Hey, that&rsquo;s a long ways away!</dt>
  <dd>You should come anyway because it&rsquo;ll be a really fun gathering with lots of really cool people and Alaska is awesome. However, we are planning to have another celebration in the Seattle area for those who can&rsquo;t make it all the way to Alaska and for those who want to party twice as much.</dd>
</dl>
