<p>
  We&rsquo;d also like the weekend to be a community gathering.  Plan to be here Friday night to join in the fun as you share your non-material gifts with us in the form of a song, dance, poem, skit, etc.
</p>

<p>
  Due to the fact that we live on a boat and therefore cannot acquire any more material possessions (or we will not have space for sleeping), this sharing from you will be a more appreciated and cherished gift&hellip; However, if you just can’t help yourself, contributions to our honey moon travel fund will be graciously accepted as well.
</p>