<dl>
  <dt>Thursday</dt>
  <dd>The New Old Time Chautauqua will be doing a parade during the day, and a show Thursday evening. Y&rsquo;all should come!</dd>

  <dt>Friday</dt>
  <dd>Family Dinner</dd>

  <dt>Saturday</dt>
  <dd>
    <ul>
      <li><strong>2:30</strong> Ceremory on Murphy Dome</li>
      <li><strong>4:00</strong> Reception at the Mushers Hall to follow</li>
    </ul>
  </dd>

  <dt>Sunday</dt>
  <dd>Picnic on a Tanana River sandbar</dd>

</dl>