<dl>
  <dt>Thursday</dt>
  <dd>
    The New Old Time Chautauqua will be doing a parade during the day, and a show Thursday evening at <a href="#pioneer_park">Pioneer Park</a>. Y&rsquo;all should come!
    <ul>
      <li><strong>12:00</strong> Parade</li>
      <li><strong>1-3</strong> Workshops</li>
      <li><strong>7:30</strong> Show</li>
    </ul>
  </dd>

  <dt>Friday</dt>
  <dd>
    <ul>
      <li><strong>7:00</strong> Family Dinner</li>
    </li>
  </dd>

  <dt>Saturday</dt>
  <dd>
    <ul>
      <li><strong>2:30</strong> Ceremory on <a href="#marriage_site">Murphy Dome</a></li>
      <li><strong>4:00</strong> Reception at the <a href="#mushers_hall">Mushers Hall</a> to follow</li>
    </ul>
  </dd>

  <dt>Sunday</dt>
  <dd>Picnic on a Tanana River sandbar</dd>

</dl>

<h2>Map</h2>
<p>
  Jump to:
  <a href="#marriage_site">Ceremony</a> |
  <a href="#mushers_hall">Reception &amp; Family Dinner</a> |
  <a href="#mcgee_house">Camping</a>
</p>
<p>
  Chautauqua:
  <a href="#pioneer_park">Parade &amp; Show</a>
  <a href="#notc_camp">Camp</a>
</p>
<p>
  Activities:
  <a href="#chena_hot_springs">Hot Springs</a>
</p>
<div id="map"></div>