
<p>
  There are many hotels and bed and breakfasts in Fairbanks. Here are a few to get you started (more to be posted soon).
</p>

<ul>
  <li><a href="http://www.pikeslodge.com/">Pike&rsquo;s Lodge</a> (some of Amiel&rsquo;s family is staying here)</li>
  <li><a href="http://guide.alaskatravel.com/listings/quilted-with-a-view-bed-breakfast.html">Quilted with View</a> (near the reception site)</li>
  <li><a href="http://www.riversedge.net/">River&rsquo;s Edge</a></li>
</ul>

<p>&nbsp;</p>

<p>Furthermore, there will be plenty of camping space at Hallie's parents place.</p>

<p>Also, please note that there will be daylight almost all night.</p>