<p>
  If you are coming from out of town, there are plenty of things to do aside from watching us get married, and almost as fun. This is the excuse you need to add Alaska to your list of states you’ve been to. However, we are planning to have a gathering in the Seattle area for those who can’t make it all the way to Alaska and for those who want to party twice as much.
</p>

<p>
  We're researching some hotel options and hope to provide a list of suggestions.
  If we're lucky, we might find a block rate somewhere.
</p>
<p>
  Furthermore, we're hoping to arrange a group camping situation.
</p>
<p>
  So, please <a href="#rsvp">RSVP</a> as soon as possible and let us know where your lodging interests are.
</p>
