<p>
  There's various places to stay in Fairbanks, however, Fairbanks is frequented by many tourists in the summer and it can get
  To make this happen we'll be posting here information about various places to stay.
  Furthermore, we're hoping to arrange a group camping situation.
</p>
<p>
  So, please <a href="#rsvp">RSVP</a> as soon as possible and let us know where your lodging interests are.
</p>
