<p>
  There's various places to stay in Fairbanks, however, Fairbanks is frequented by many tourists in the summer and it can get
  We're researching some hotel options and hope to provide a list of suggestions.
  If we're lucky, we might find a block rate somewhere.
</p>
<p>
  Furthermore, we're hoping to arrange a group camping situation.
</p>
<p>
  So, please <a href="#rsvp">RSVP</a> as soon as possible and let us know where your lodging interests are.
</p>
