/* basic layout */

body {
	margin: 0;
	padding: 0;
	color: #fff;
	text-align: center;
	font: 11pt Arial, sans-serif;
	line-height: 15pt;
	background-color: #e1f0d8;
}


#container {
	margin: 10px auto;
	text-align: left;
	width: 750px;
	color: #000;
	background-color: #fff;
}


#header {
	position: relative;
	background: #fff url(images/header.jpg) no-repeat top center;
	height: 200px;
}


#content {
	border: 1px solid #639;
	border-style: none solid solid;
	padding-top: 1em;
}

#content p, #content table {
	margin: 15px 30px;
}

#content h1, #content h2 {
	margin: 25px 30px 15px;
}

#content h1 {
	font: 18pt serif;
}

#content h2 {
	font: 16pt serif;
}

#content table {
	border-collapse: collapse;
}

#content td {
	padding: 1px 8px;
	border: 1px solid #eee;
}

#content .link_to_top {
	float: right;
}

#content blockquote {
	margin: 5px 30px;
	padding: 5px 5px 5px 30px;
	background: url(images/quote.gif) no-repeat 35px 15px;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;	
	color: #333;	
}

#content blockquote p {
	margin: 15px 30px 5px;
}

#content blockquote .by {
	margin: 5px 0 0px 300px;
}

acronym {
	cursor: help;
}

img.float-right {
  	margin: 5px 0px 20px 20px;
}
img.float-left {
  	margin: 5px 20px 20px 0px;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.map_info {	
	float:left;
	clear:left;
	margin: 0 30px;
	width: 400px;
}

#map {
	float: left;
	margin: 0 30px;
	width: 400px;
	height: 300px;
}

#footer {
	font-size: 80%;
	clear: both;
	padding: 25px 5px 12px;
	text-align: center;
	background-color: #e1f0d8;
}

/* header */

#header a {
	position: absolute;
	display: block;
	background: url(images/header_links.gif) no-repeat 0px 0px;
	top: 145px;
	height: 21px;	
}

#header a#about_link {
	width: 61px;
	left: 30px;
	background-position: 0px 0px;
}

#header a#about_link:hover {
	background-position: 0px -21px;
}

#header a#rates_link {
	width: 176px;
	left: 125px;
	background-position: -61px 0px;
}

#header a#rates_link:hover {
	background-position: -61px -21px;
}

#header a#testimonials_link {
	width: 111px;
	left: 330px;
	background-position: -240px 0px;
}

#header a#testimonials_link:hover {
	background-position: -240px -21px;
}

#header a#contact_link {
	width: 76px;
	left: 470px;
	background-position: -355px 0px;
}

#header a#contact_link:hover {
	background-position: -355px -21px;
}


ul{ list-style: inside; }