<% if tag.photos.approved.count > 0 %>
  <li class="album">
    <%= link_to image_tag(tag.photos.approved.sample.photo.url(:thumbnail), alt: 'tag'), tag %>
    <%= link_to tag, tag %>
  </li>
<% end %>