<% time = Time.current %>
<%- collection = tag.photos.approved.all -%>
<% puts "DEBUG TIME: #{ Time.current - time }" %>
<% Rails.logger.debug "DEBUG TTIME: #{ Time.current - time }" %>

<% if collection.size > 0 %>
  <li class="album">
    <%= link_to image_tag(collection.first.photo.url(:thumbnail), alt: 'tag'), tag %>
    <%= link_to tag, tag %>
  </li>
<% end %>