
<p>If you took pictures, please share them with us here.</p>

<h2>Photo Albums</h2>

<% if @tags.size > 0 then %>
  <% @tags.group_by(&:category).each do |category, tags| %>
    <h4><%= title_for_category category %></h4>
    <ul class="thumbnails">
      <%= render tags %>
    </ul>
  <% end %>
<% else %>

  <div class="no-content">Unfortunately, nobody's uploaded any photos yet. Why not <%=link_to 'upload your own?', new_photo_path %></div>

<% end %>
<%= link_to 'Add Your Photos', new_photo_path, class: 'button' %>
