<h2>Photos</h2>

<ul class="thumbnails">
  <%= render @photos %>
</ul>                                                                      

<%= paginate @photos %>  

<%= link_to 'Add Your Photos', new_photo_path, class: 'button' %>