
@import "_reset";

@header_background_color: rgba(255,255,255, 0.25);
@nav_background_color: rgba(0,0,0, 0.25);
@body_background_color: rgba(255,255,255, 0.75);

.js .js-hide{ display: none; }

body{ font-family: 'Josefin Sans Std Light', arial, serif; background: url(/images/bg.jpg) repeat bottom left; }
img.bg{ position: absolute; left: 0; bottom: 0; width: 100%; z-index: -1; }

h1,h2,h3,h4,h5,h6{ font-family: 'Droid Serif', arial, serif; }


#wrapper{ width: 960px; margin: 25px auto; }

header{ height: 75px; background: @header_background_color;
  h1{ font-size: 1.8em; padding: 25px 0 0 35px; color: #000; text-shadow: #fff 1px 1px 1px; }
}

@nav_height: 25px;
nav{ height: @nav_height; /*background: @nav_background_color;*/
  ul{
    li{ display: block; float: left; height: @nav_height;
      @top_margin: 3px;
      a{ text-decoration: none; display: block; height: @nav_height - @top_margin - (3px*2); margin-top: @top_margin; padding: 3px 6px;
        color: #000;
        &:hover{ background: rgba(255,255,255, 0.75); color: #000; }
        &.current{ background: rgba(255,255,255, 0.5); color: #000; }
      }
    }
  }
}

section.body{ background: @body_background_color; padding: 25px 10px;
  h2{ font-size: 1.4em; }
}
