<h2 class="js-hide">Thank You</h2>
<p>Thank you everyone for coming and making our special day so awesome!</p>

<p>If you took any pictures, and feel like sharing them, please check back here soon to upload your favorite photos.</p>

<p>&mdash; Amiel and Hallie</p>